* {
  box-sizing: border-box;
}

:root {
  --drop-color: #7fc1f9;
}

body {
  margin: 0;
  background: rgb(216, 216, 216);
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  background: #1a2238;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,.3);
  overflow: hidden;

  /* Font */
  color: #394568;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moon {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 45px;
  left: 55px;
  border-radius: 50%;
  background: #f6edbd;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #f6edbd;
  animation: rise 1s ease-in-out;

  [class^='crater-'] {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background: #ece1a8;
  }

  .crater-1 {
    width: 11px;
    height: 11px;
    top: 9px;
    left: 28px;
  }

  .crater-2 {
    width: 11px;
    height: 11px;
    top: 12px;
    left: 0;
  }

  .crater-3 {
    width: 11px;
    height: 11px;
    top: 56px;
    left: 10px;
  }

  .crater-4 {
    width: 6px;
    height: 6px;
    top: 37px;
    left: 49px;
  }

  .crater-5 {
    width: 6px;
    height: 6px;
    top: 24px;
    left: 61px;
  }

  .crater-6 {
    width: 6px;
    height: 6px;
    top: 55px;
    left: 33px;
  }

  .crater-7 {
    width: 6px;
    height: 6px;
    top: 17px;
    left: 46px;
  }

  .crater-8 {
    width: 6px;
    height: 6px;
    top: 28px;
    left: 27px;
  }

  .crater-9 {
    width: 6px;
    height: 6px;
    top: 39px;
    left: 17px;
  }

  .crater-10 {
    width: 4px;
    height: 4px;
    top: 25px;
    left: 15px;
  }

  .crater-11 {
    width: 4px;
    height: 4px;
    top: 37px;
    left: 37px;
  }
}

[class^='hill-'] {
  position: absolute;
  z-index: 2;
  width: 337px;
  height: 281px;
  border-radius: 50%;
  box-shadow: 1px 2px 20px rgba(0,0,0,.2);
}

.hill-bg-1 {
  top: 201px;
  left: -57px;
  background: #26314f;
}

.hill-bg-2 {
  top: 197px;
  left: 177px;
  background: rgb(38, 49, 79);
}

.hill-fg-1 {
  background: #303c5d;
  top: 248px;
  left: -137px;
}

.hill-fg-2 {
  background: #303c5d;
  top: 221px;
  left: 63px;
}

.hill-fg-3 {
  background: #303c5d;
  top: 248px;
  left: 292px;
}

.front {
  position: absolute;
  z-index: 3;
  width: 400px;
  height: 90px;
  left: 0;
  bottom: 0;
  background: #fff;
  display: grid;
  grid-template-columns: 110px repeat(2, 1fr);

  .temperature {
    font-size: 45px;
    font-weight: 400;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 20px;
      align-content: center;
      margin-top: -10px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;

    strong {
      padding-left: 8px;
      font-weight: 400;
    }
  }
}

.drop-big-1 {
  position: absolute;
  z-index: 4;
  left: 18px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .8s linear .2s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-big-2 {
  position: absolute;
  z-index: 4;
  left: 56px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .9s linear .4s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-big-3 {
  position: absolute;
  z-index: 4;
  left: 94px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .8s linear .6s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-big-4 {
  position: absolute;
  z-index: 4;
  left: 132px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .9s linear .8s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-big-5 {
  position: absolute;
  z-index: 4;
  left: 170px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .8s linear 1s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-big-6 {
  position: absolute;
  z-index: 4;
  left: 208px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .9s linear 1.2s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-big-7 {
  position: absolute;
  z-index: 4;
  left: 266px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .8s linear 1.4s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-big-8 {
  position: absolute;
  z-index: 4;
  left: 284px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .9s linear 1.6s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-big-9 {
  position: absolute;
  z-index: 4;
  left: 322px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .8s linear 1.8s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-big-10 {
  position: absolute;
  z-index: 4;
  left: 360px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop .9s linear 2s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 6px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -5px;
    left: 2px;
    width: 4px;
    height: 10px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-1 {
  position: absolute;
  z-index: 4;
  left: 18px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.4s linear 2s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-2 {
  position: absolute;
  z-index: 4;
  left: 56px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.5s linear 1.8s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-3 {
  position: absolute;
  z-index: 4;
  left: 94px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.4s linear 1.6s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-4 {
  position: absolute;
  z-index: 4;
  left: 132px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.5s linear 1.4s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-5 {
  position: absolute;
  z-index: 4;
  left: 170px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.4s linear 1.2s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-6 {
  position: absolute;
  z-index: 4;
  left: 208px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.5s linear 1s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-7 {
  position: absolute;
  z-index: 4;
  left: 246px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.5s linear .8s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-8 {
  position: absolute;
  z-index: 4;
  left: 284px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.4s linear .6s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-9 {
  position: absolute;
  z-index: 4;
  left: 322px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.4s linear .4s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-medium-10 {
  position: absolute;
  z-index: 4;
  left: 360px;
  bottom: 90px;
  opacity: .6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 1.5s linear .2s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 4px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -4px;
    left: 2px;
    width: 2px;
    height: 6px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-1 {
  position: absolute;
  z-index: 4;
  left: 18px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2s linear .2s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-2 {
  position: absolute;
  z-index: 4;
  left: 56px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2.1s linear .4s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-3 {
  position: absolute;
  z-index: 4;
  left: 94px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2s linear .6s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-4 {
  position: absolute;
  z-index: 4;
  left: 132px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2.1s linear .8s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-5 {
  position: absolute;
  z-index: 4;
  left: 170px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2s linear 1s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-6 {
  position: absolute;
  z-index: 4;
  left: 208px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2.1s linear 1.2s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-7 {
  position: absolute;
  z-index: 4;
  left: 246px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2s linear 1.4s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-8 {
  position: absolute;
  z-index: 4;
  left: 284px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2.1s linear 1.6s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-9 {
  position: absolute;
  z-index: 4;
  left: 322px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2s linear 1.8s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

.drop-small-10 {
  position: absolute;
  z-index: 4;
  left: 360px;
  bottom: 90px;
  opacity: .3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop-color);
  animation: drop 2.1s linear 2s infinite;
  animation-fill-mode: both;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    left: 1px;
    width: 2px;
    height: 2px;
    background: var(--drop-color);
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 1px;
    width: 2px;
    height: 4px;
    background: var(--drop-color);
    border-radius: 50%;
  }
}

@keyframes rise {
  0% { transform: translate(-20px,200px) }
  70% { transform: translate(0,-10px) }
  100% { transform: translate(0,0);}
}

@keyframes drop {
  0% { transform: translate3d(40px,-320px,0) scaleX(1) scaleY(1) rotate(17deg) }
  85% { transform: translate3d(0,0,0) scaleX(1) scaleY(1) rotate(17deg) }
  100% { transform: translate3d(0,0,0) scaleX(3) scaleY(0) rotate(0) }
}