* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(216,216,216);
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: #de4738;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,.3);
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
}

.pixel {
  input {
    display: none;
  }

  label {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #e24e3f;
    cursor: pointer;

    &:hover {
      background: #ec5142;
      border-color: #e24e3f;
    }
  }
}

input:checked ~ label {
  background: #fff;
  border-color: #fff;
}