body {
  background: rgb(232, 211, 245);
}

.container {
  background: lightsalmon;
  border: 3px solid #000;
  border-radius: 10px;
  display: grid;
  /* grid-template-columns: 1fr 1fr; fr -> Allow us to indicate the size of the column in a proportional way  */
  /* grid-template-columns: 50px repeat(3, 1fr) 50px; */
  grid-template-columns: minmax(100px, 1fr) repeat(2, 1fr); /* When 33.333% of available space is less than 100px, the width will be 100px */
  /* grid-template-rows: repeat(3, 100px); */
  grid-auto-rows: 50px; /* This is the value if create automatic columns */
  gap: 4px;
}

.container div {
  background: lightblue;
  border: 2px solid #09f;
  border-radius: 6px;
}

/* Exercise */
.exercise-div {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 5fr;
}

.exercise-aside {
  border: 1px solid red;
  height: 50vh;
}

.exercise-main {
  border: 1px solid blue;
}

/* Exercise 2 */
.exercise2-div {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  );
  gap: 16px;
  max-width: 900px;
  margin: 0 auto;
}

.exercise2-div img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}