* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(216, 216, 216);
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: #4cb6de;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,.3);

  /* Font */
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
