* {
  box-sizing: border-box;
}

:root {
  --brown: #786450;
}

body {
  margin: 0;
  background: rgb(216, 216, 216);
}

.framer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,.2);
  background: -webkit-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
  background: -moz-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
  background: -o-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
  background: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstrr='#eebe6e', endColorstr='ca7c4e', GradientType=1);

  /* Font */
  color: var(--brown);
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}